<nav class="navbar">
  <div class="nav-container">
    <a class="logo" (click)="volverInicio()">
      <img src="/logo.png" alt="" class="logo-icon">
      <span class="logo-text">NEXO V</span>
    </a>
    <ul class="nav-menu">
      <li><a (click)="volverInicio()">Inicio</a></li>
      <li><a (click)="navigateTo('/eventos')">Eventos</a></li>
      <li><a (click)="navigateTo('/categorias')">Categorías</a></li>
      <li><a (click)="navigateTo('/testimonios')">Testimonios</a></li>
    </ul>

    <div class="nav-actions">

      <ng-container *ngIf="!authService.currentUser()">
        <button class="btn-login" (click)="navigateTo('/login')">Iniciar sesión</button>
        <button class="btn-register" (click)="navigateTo('/register')">Registrarse</button>
      </ng-container>

      <ng-container *ngIf="authService.currentUser() as user">

        <span class="nav-username">¡Hola, {{ user.nombre }}!</span>

        <button
          *ngIf="user.rol.nombre === 'ADMIN' || user.rol.nombre === 'ORGANIZADOR'"
          class="btn-login"
          (click)="navigateTo('/admin/dashboard')">
          Dashboard
        </button>

        <button class="btn-register" (click)="onLogout()">Cerrar Sesión</button>
      </ng-container>

    </div>
  </div>
</nav>
